<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Dashboard</h2>
    <a class="nav-link btn btn-primary " href="./user/register">Register</a>
    <a class="nav-link btn btn-primary " href="/user/login">Login</a>
    <a class="nav-link btn btn-primary " href="/admin/addCandidate">Add Candidate</a>
    <a class="nav-link btn btn-primary " href="/user/getToken">Get Token</a>
    <a class="nav-link btn btn-primary " href="/user/votingPage">Vote</a>
</div>

</body>
</html>
